@import '../variables';
@import '../mixins';
.banner{
    min-height: 945px;
    &__heading-img {
        border-radius: 74px;
        border: 1px solid $clr-light;
        transition: border-radius .5s linear;
        &:hover,
        &:focus {
            border-radius: 15px;
        }
    }
    &__heading {
        gap: 80px;
    }
}
