a {
    text-decoration: none;
    color: inherit;
}
.min-h-md {
    min-height: 626px;
}
.min-h-sm {
    min-height: 300px;
}
.min-h-inherit {
    min-height: inherit;
}
.h-vh-100 {
    min-height: 100vh;
}

.line-h-sm {
    line-height: 27px !important;
}
.opacity-90 {
    opacity: .9;
}

.-m-top {
    margin-top: -147px;
    @include mq(lg) {
        margin-top: -106px;
    }
    @include mq(md) {
        margin-top: -66px;
    }
}
.mt-130 {
    margin-top: 130px;
}
.object-cover {
    object-fit: cover;
}

.mb-10 {
    margin-bottom: 10px;
}
.mb-30 {
    margin-bottom: 30px;
    @include mq(lg) {
        margin-bottom: 15px;
    }
}
.mb-50 {
    margin-bottom: 50px;
}
.mb-40 {
    margin-bottom: 40px;
}
.mt-50 {
    margin-top: 50px;
}
.mb-70 {
    margin-bottom: 70px;
    @include mq(lg) {
        margin-bottom: 30px;
    }
}
.mb-130 {
    margin-bottom: 130px;
    @include mq(lg) {
        margin-bottom: 70px;
    }
}
.mb-200 {
    margin-bottom: 200px;
    @include mq(lg) {
        margin-bottom: 100px;
    }
}
.mb-100 {
    margin-bottom: 100px;
    @include mq(lg) {
        margin-bottom: 50px;
    }
}
.text-accent {
    color: $clr-accent !important;
}
.text-primary {
    color: $clr-primary !important;
}

.bg__accent {
    background: $clr-accent;
}

.bg__light {
    background: $clr-light;
}
.bg__dark {
    background: $clr-dark;
}

.border-dark {
    border: 1px solid $clr-dark;
}

.text__light {
    color: $clr-light;
}
.text__primary {
    color: $clr-primary;
}
.text__dark-light {
    color: $clr-dark-light;
}
.arrow-primary {
    position: relative;
    left: -20px;
    @include mq(lg) {
        left: 15px;
    }
    &::before {
        content: '';
        position: relative;
        left: -10px;
        width: 20px;
        height: 10px;
        background: url(../images/arrow-primary.svg) no-repeat center;
        background-size: contain;
        display: inline-block;
        @include mq(lg) {
            left: -10px;
        }
    }
}

br {
    @include mq(xxxl) {
        display: none;
    }
}

.top-130 {
    position: relative;
    top: 130px;
    @include mq(lg) {
        position: static;
        top: 0;
    }
}
.text__xsm {
    font-size: 16px;
    line-height: 35px;
    font-weight: 500;
    font-style: italic;
    font-family: 'Cabin', sans-serif;
    text-transform: uppercase;
    @include mq(sm) {
       font-size: 13px;
       line-height: 20px;
    }
}

.block-padding{
    padding-block: 160px 120px;
    @include mq(lg) {
        padding-block: 120px;
     }
}
.block-padding-lg{
    padding-block: 160px 160px;
}
.block-padding-xl{
    padding-block: 200px;
    @include mq(lg) {
        padding-block: 100px;
    }
}

.block-margin {
    margin-block: 160px 120px;
    @include mq(lg) {
        margin-block: 100px;
    }
}
.block-margin-lg {
    margin-block: 160px 200px;
    @include mq(lg) {
        margin-block: 100px;
    }
}
.block-margin-xl {
    margin-block: 200px;
    @include mq(lg) {
        margin-block: 100px;
    }
}
.font-Apercu-italic {
    font-family: 'Apercu-Medium-Italic';
}
.font-Apercu {
    font-family: 'Apercu-Medium';
}
.font-Apercu-Regular {
    font-family: 'Apercu-Regular';
}

.min-w-sm {
    min-width: 150px;
}

.min-h-md {
    min-height: 626px !important;
}
.max-w-lg {
    max-width: 800px !important;
}
.max-w-xl {
    max-width: 1100px !important;
}
.max-w-md {
    max-width: 664px !important;
}
.left-270 {
    position: relative;
    left: -270px;
    @include mq(xxxl) {
        left: -170px;
    }
    @include mq(xxl) {
        left: -100px;
    }
    @include mq(sm) {
        left: -50px;
    }
}
.left-30 {
    position: relative;
    left: -30px;  
    @include mq(lg) {
        left: 150px;  
    }
    @include mq(sm) {
        left: 40px;  
    }
}
.social-link {
    position: relative;
    &::after {
        content: "";
        display: block;
        width: 100%;
        min-height: 2px;
        background: url(../images/social-link-hover.svg) no-repeat left;
        opacity: 0;
        transition: opacity .3s ease-in-out;
    }
    &:hover::after{
        opacity: 1;
    }
}
.list {
    padding-left: 0;
    &__item {
        margin-bottom: 32px;
        list-style: none;
        position: relative;
        gap: 10px;
        display: grid;
        grid-template-columns: 20px 1fr;
        &::before {
            content: "";
            background: url(../images/list-icon.svg) no-repeat center;
            background-size: contain;
            width: 20px;
            height: 10px;
            display: inline-block;
            position: relative;
            top: 10px;
        }
    }
    &-arrow {
        .list__item {
            &::before {
                content: "";
                background: url(../images/list-arrow.svg) no-repeat center;
            }
        }
    }
}

 

@keyframes fadeinright {
    from {
        opacity: 0;
        visibility: hidden;
        transform: translateX(-30px);
    }
    to {
        opacity: 1;
        visibility: visible;
        transform: translateX(0px);
    }
}
@keyframes fadein {
    from {
        opacity: 0;
        visibility: hidden;
    }
    to {
        opacity: 1;
        visibility: visible;
    }
}

.icon { 
    width: 18px; 
    height: 8px;
  }

  .tab-content {
    overflow: hidden;
  }
  .tab-pane.active {
    p.text__primary {
        animation: fadeinright .5s linear;
    }
    p:not(.text__primary) {
        animation: fadein 1s linear;
    }
  }