a {
    text-decoration: none;
    color: inherit;
}
.min-h-md {
    min-height: 626px;
}
.min-h-sm {
    min-height: 300px;
}
.min-h-inherit {
    min-height: inherit;
}
.h-vh-100 {
    min-height: 100vh;
}

.line-h-sm {
    line-height: 27px;
}
.opacity-90 {
    opacity: .9;
}

.-m-top {
    margin-top: -147px;
    @include mq(lg) {
        margin-top: -106px;
    }
    @include mq(md) {
        margin-top: -66px;
    }
}
.mt-130 {
    margin-top: 130px;
}
.object-cover {
    object-fit: cover;
}

.mb-10 {
    margin-bottom: 10px;
}
.mb-30 {
    margin-bottom: 30px;
    @include mq(lg) {
        margin-bottom: 15px;
    }
}
.mb-50 {
    margin-bottom: 50px;
}
.mb-40 {
    margin-bottom: 40px;
}
.mt-50 {
    margin-top: 50px;
}
.mb-70 {
    margin-bottom: 70px;
    @include mq(lg) {
        margin-bottom: 30px;
    }
}
.mb-200 {
    margin-bottom: 200px;
    @include mq(lg) {
        margin-bottom: 100px;
    }
}
.text-accent {
    color: $clr-accent !important;
}
.text-primary {
    color: $clr-primary !important;
}

.bg__accent {
    background: $clr-accent;
}

.bg__light {
    background: $clr-light;
}
.bg__dark {
    background: $clr-dark;
}

.text__light {
    color: $clr-light;
}
.text__primary {
    color: $clr-primary;
}
.arrow-primary {
    position: relative;
    left: -20px;
    &::before {
        content: '';
        position: relative;
        left: -10px;
        width: 20px;
        height: 10px;
        background: url(../images/arrow-primary.svg) no-repeat center;
        background-size: contain;
        display: inline-block;
    }
}

br {
    @include mq(xxxl) {
        display: none;
    }
}

// .text-sm  {
//     font-size: 35px;

// }
.text-xsm  {
    font-size: 16px;
    line-height: 35px;
}
.line-h-sm {
    line-height: 26px;
}
.top-130 {
    position: relative;
    top: 130px;
    @include mq(lg) {
        position: static;
        top: 0;
    }
}
.text__xsm {
    font-size: 16px;
    line-height: 35px;
    font-weight: 500;
    font-style: italic;
    font-family: 'Cabin', sans-serif;
    text-transform: uppercase;
}

.block-padding{
    padding-block: 160px 120px;
}
.block-padding-lg{
    padding-block: 160px 160px;
}
.block-padding-xl{
    padding-block: 200px;
    @include mq(lg) {
        padding-block: 100px;
    }
}

.block-margin {
    margin-block: 160px 120px;
}
.block-margin-xl {
    margin-block: 200px;
    @include mq(lg) {
        margin-block: 100px;
    }
}
.font-Apercu-italic {
    font-family: 'Apercu-Medium-Italic';
}
.font-Apercu {
    font-family: 'Apercu-Medium';
}

.list {
    padding-left: 0;
    &__item {
        margin-bottom: 32px;
        list-style: none;
        position: relative;
        gap: 10px;
        display: grid;
        grid-template-columns: 20px 1fr;
        &::before {
            content: "";
            background: url(../images/list-icon.svg) no-repeat center;
            background-size: contain;
            width: 20px;
            height: 10px;
            display: inline-block;
            position: relative;
            top: 10px;
        }
    }
}
// .font-s-70 {
//     font-size: 70px;
//     @include mq(lg){
//         font-size: 32px;
//         line-height: 45px;
//     }
// }
// .font-s-75 {
//     font-size: 75px;
//     @include mq(md){
//         font-size: 40px;
//         line-height: 50px;
//     }
// }
// .line-h-70 {
//     line-height: 70px;
//     @include mq(md){
//         line-height: 50px;
//     }
// }
// .font-zen {
//     font-family: 'Zen Kaku Gothic Antique', sans-serif;
// }
// .font-bigcity {
//     font-family: "bigcity-grotesque-pro", sans-serif;
// }
// .font-playfair {
//     font-family: 'Playfair Display', serif;
// }
// .fw-medium {
//     font-weight: 500;
// }
// .section__content {
//     max-width: 710px;
// }
// .section__content-xl {
//     max-width: 850px;
// }
// .section__content-sm {
//     max-width: 515px;
// }
// .min-w-sm {
//     min-width: 228px;
//     @include mq(xl){
//         min-width: 30%;
//      }
// }
// .max-w-sm {
//     @include mq(lg){
//         max-width: 70%;
//      }
//     @include mq(sm){
//         max-width: 234px;
//      }
// }

// .link {
//     &:hover,
//     &:focus {
//         text-decoration: underline;
//     }
// }



// aboutus 
.about-us {
    border-radius: 32px;
    margin-top: -32px;
    &__content {
        max-width: 1072px;
        margin: 0 auto;
    }
}

// services 
.services {
    sup {
        top: -1.2em;
        left: .2em;
    }

    .nav-tabs {
        gap: 16px;
        height: 100%;
        @include mq(xxxl) {
            gap: 8px;
        }
        .nav-item {
            @include mq(xxxl) {
                flex-basis: 48%;
            }
            @include mq(xl) {
                flex-basis: 100%;
            }
        }
        .nav-link {
            color: $clr-dark;
            font-size: 20px;
            font-weight: 500;
            font-style: italic;
            font-family: 'Hanken Grotesk', sans-serif;
            border: 1px solid $clr-dark;
            border-radius: 15px;
            min-width:256px;
            min-height: 256px;
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 10px;
            background-color: $clr-light;
            @include mq(xxxl) {
                min-width:auto;
                min-height: auto;
            }
            .nav-tabs-icon {
                transition: transform .3s ease-in-out;
            }
            &:hover,
            &:focus,
            &.active {
                background-color: $clr-accent;
                .nav-tabs-icon {
                    transform: rotate(-10deg);
                }
            }
        }
    }

    .tab-content {
        border: 1px solid $clr-dark;
        border-radius: 15px;
        height: 100%;
        padding: 106px 136px 145px 136px;
        @include mq(xl) {
            padding: 60px 80px 60px 80px;
        }
    }
   &__img-container {
    position: relative;
    max-width: 800px;
    margin: 0 auto;
    .services-img-2 {
        position: absolute;
        left: -128px;
        bottom: -192px;
        @include mq(xl) {
            left: -70px;
        }
    }
    .services-img-3 {
        position: absolute;
        right: -128px;
        top: -192px;
        @include mq(xl) {
            right: -70px;
        }
    }
   }
   .services__cards {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(256px,1fr));
    gap: 16px;
    @include mq(xxxl) {
        grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    }
    @include mq(xxl) {
        grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    }
   }
   .service__card {
    min-height: 700px;
    border: 1px solid $clr-dark;
    background: $clr-accent;
    border-radius: 15px;
    padding: 0 20px;
    text-align: center;
    display: flex;
    flex-direction:column ;
    align-items: center;
    justify-content: center;
    @include mq(xl) {
        min-height: 400px;
    }
   }
}

.cases {
    &-slider-wrapper {
        border: 1px solid $clr-dark;
        background: $clr-accent;
        border-radius: 20px;
        padding: 112px 136px;
        @include mq(xl) {
            padding: 70px;
        }
    }
    .case__slider-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        gap: 36px;
        @include mq(xl) {
            justify-content: center;
            gap: 20px;
        }
        & > * {
            flex: 0 0 150px;
           
        }
    }
}

.footer{
    border-radius: 32px 32px 0 0 ;

    &-logo {
        @include mq(xl) {
            max-width: 400px;
        }
    }
    &__content {
        border-top: 1px solid rgba($color: $clr-white, $alpha: .5);
        border-bottom: 1px solid rgba($color: $clr-white, $alpha: .5);
        padding-block:45px 86px ;
    }
    p,a {
        color: $clr-light;
        font-size:17px;
        font-weight: 400;
    }
    .link-hover {
        display: block;

    }
    .copyright__content {
        padding: 20px 0; 
        p,a {
            font-family: 'Hanken Grotesk', sans-serif;
            font-style: italic;
            font-size: 20px;
        }
    }
    .back-to-top {
        svg {
            transition: transform .3s ease-in-out;
        }
        &:hover  {
            svg {
                transform: translateY(-5px);
            }
            g {
                opacity: 1;
            }
        }
    }
    .link-hover::after  {
        background-position: left !important;
    }

    address {
        br {
            display: block;
        }
    }
}