@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;0,500;1,500&family=Hanken+Grotesk:ital,wght@0,400;0,500;0,600;1,500&display=swap');
@import './variables';
@import './mixins';

@font-face {
    font-family: 'Apercu-Medium-Italic';
    src:
     url(./font/Apercu-Medium-Italic.woff2) format('woff2')
 
}
@font-face {
    font-family: 'Apercu-Medium';
    src:
     url(./font/Apercu-Medium.woff2) format('woff2')
 
}

html {
    scroll-behavior: smooth;
}

body{
    font-family: 'Cabin', sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 35px;
    color: $clr-black;
    @include mq(xl){
      font-size: 18px;
      line-height: 30px;
    }
    @include mq(lg){
      font-size: 16px;
      line-height: 26px;
    }
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Hanken Grotesk', sans-serif;
    font-weight: 500;
}


h1{
    font-size: 150px;
    line-height: 195px;
    font-weight: 600;
    text-transform: uppercase;
    @include mq(xxxl){
        font-size: 90px;
        line-height: 100px;
    }
    @include mq(lg){
        font-size: 60px;
        line-height: 80px;
    }
    @include mq(sm){
        font-size: 35px;
        line-height:46px;
    }
}
h2{
    font-size: 45px;
    line-height: 60px;
    color: $clr-dark;
    @include mq(xl){
        font-size: 35px;
        line-height: 46px;
    }
}

h3{
    font-size: 35px;
    line-height: 55px;
    font-family: 'Cabin', sans-serif;
    color: $clr-primary;
    font-style: italic;
    @include mq(xl){
        font-size: 30px;
        line-height: 40px;
    }
    @include mq(md){
        font-size: 22px;
        line-height: 32px;
    }
}

h4{
    font-size: 20px;
    line-height: 60px;
    font-family: 'Cabin', sans-serif;
    font-style: italic;
    color: $clr-accent;
    @include mq(md){
        font-size: 20px;
        line-height: 40px;
    }
}

.section-title {
    font-size: 90px;
    line-height:109px;
    font-weight: 500;
    font-style: italic;
    font-family: 'Apercu-Medium';
    -webkit-text-fill-color: transparent; 
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: $clr-dark;
    margin-bottom: 20px;
    @include mq(lg){
        font-size: 50px;
        line-height: 70px;
    }
}
