:root {
  --size: clamp(10rem, 1rem + 40vmin, 30rem);
  --gap: calc(var(--size) / 14);
  --duration: 30s;
  --scroll-start: 0;
  --scroll-end: calc(-100% - var(--gap));
}

.cases {
  /* Element styles */
  /* Parent wrapper */
}
.cases-slider-wrapper {
  border: 1px solid #1F1E1E;
  background: #D3FF1A;
  border-radius: 20px;
  padding: 112px 136px;
}
@media screen and (max-width: 1200px) {
  .cases-slider-wrapper {
    padding: 70px;
  }
}
@media screen and (max-width: 768px) {
  .cases-slider-wrapper {
    padding: 52px 15px;
  }
}
@media screen and (max-width: 576px) {
  .cases-slider-wrapper {
    border-radius: 8px;
  }
}
.cases .case__slider-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 36px;
}
@media screen and (max-width: 1200px) {
  .cases .case__slider-content {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 20px;
  }
}
@media screen and (max-width: 768px) {
  .cases .case__slider-content {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    gap: 6px;
  }
}
.cases .case__slider-content > * {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 150px;
          flex: 0 0 150px;
}
@media screen and (max-width: 768px) {
  .cases .case__slider-content > * {
    max-width: 100px;
  }
}
.cases .marquee {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  gap: var(--gap);
  -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(var(--mask-direction, to right)), color-stop(hsla(0, 0%, 0%, 0)), color-stop(20%, hsl(0, 0%, 0%)), color-stop(80%, hsl(0, 0%, 0%)), to(hsla(0, 0%, 0%, 0)));
  -webkit-mask-image: linear-gradient(var(--mask-direction, to right), hsla(0, 0%, 0%, 0), hsl(0, 0%, 0%) 20%, hsl(0, 0%, 0%) 80%, hsla(0, 0%, 0%, 0));
          mask-image: -webkit-gradient(linear, left top, left bottom, from(var(--mask-direction, to right)), color-stop(hsla(0, 0%, 0%, 0)), color-stop(20%, hsl(0, 0%, 0%)), color-stop(80%, hsl(0, 0%, 0%)), to(hsla(0, 0%, 0%, 0)));
          mask-image: linear-gradient(var(--mask-direction, to right), hsla(0, 0%, 0%, 0), hsl(0, 0%, 0%) 20%, hsl(0, 0%, 0%) 80%, hsla(0, 0%, 0%, 0));
}
.cases .marquee--mobile {
  --duration: 25s;
}
.cases .marquee--mobile .marquee__group {
  -webkit-animation: scroll-x var(--duration) linear infinite;
          animation: scroll-x var(--duration) linear infinite;
}
.cases .marquee__group {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  gap: var(--gap);
  min-width: 100%;
  -webkit-animation: scroll-x var(--duration) linear infinite;
          animation: scroll-x var(--duration) linear infinite;
}
@media (prefers-reduced-motion: reduce) {
  .cases .marquee__group {
    -webkit-animation-play-state: paused;
            animation-play-state: paused;
  }
}
.cases .marquee--reverse .marquee__group {
  animation-direction: reverse;
  -webkit-animation-delay: -3s;
          animation-delay: -3s;
}
@-webkit-keyframes scroll-x {
  from {
    -webkit-transform: translateX(var(--scroll-start));
            transform: translateX(var(--scroll-start));
  }
  to {
    -webkit-transform: translateX(var(--scroll-end));
            transform: translateX(var(--scroll-end));
  }
}
@keyframes scroll-x {
  from {
    -webkit-transform: translateX(var(--scroll-start));
            transform: translateX(var(--scroll-start));
  }
  to {
    -webkit-transform: translateX(var(--scroll-end));
            transform: translateX(var(--scroll-end));
  }
}
.cases .marquee img {
  display: grid;
  place-items: center;
  aspect-ratio: 16/9;
}
.cases .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: var(--gap);
  margin: auto;
  max-width: 100vw;
}
@-webkit-keyframes fade {
  to {
    opacity: 0;
    visibility: hidden;
  }
}
@keyframes fade {
  to {
    opacity: 0;
    visibility: hidden;
  }
}/*# sourceMappingURL=case.css.map */