:root {
  --size: clamp(10rem, 1rem + 40vmin, 30rem);
  --gap: calc(var(--size) / 14);
  --duration: 30s;
  --scroll-start: 0;
  --scroll-end: calc(-100% - var(--gap));
}

.services sup {
  top: -1.2em;
  left: 0.2em;
}
.services .nav-tabs {
  gap: 16px;
  height: 100%;
}
@media screen and (max-width: 1800px) {
  .services .nav-tabs {
    gap: 8px;
  }
}
@media screen and (max-width: 1800px) {
  .services .nav-tabs .nav-item {
    -ms-flex-preferred-size: 48%;
        flex-basis: 48%;
  }
}
@media screen and (max-width: 1200px) {
  .services .nav-tabs .nav-item {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}
@media screen and (max-width: 992px) {
  .services .nav-tabs .nav-item {
    -ms-flex-preferred-size: 48%;
        flex-basis: 48%;
  }
}
.services .nav-tabs .nav-link {
  color: #1F1E1E;
  font-size: 20px;
  font-weight: 500;
  font-style: italic;
  font-family: "Hanken Grotesk", sans-serif;
  border: 1px solid #1F1E1E;
  border-radius: 15px;
  min-width: 256px;
  min-height: 256px;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  background-color: #FBFFF9;
}
@media screen and (max-width: 1800px) {
  .services .nav-tabs .nav-link {
    min-width: auto;
    min-height: auto;
  }
}
@media screen and (max-width: 992px) {
  .services .nav-tabs .nav-link {
    min-width: 172px;
    min-height: 172px;
    font-size: 14px;
    padding: 10px 5px;
  }
}
@media screen and (max-width: 375px) {
  .services .nav-tabs .nav-link {
    min-width: auto;
  }
}
.services .nav-tabs .nav-link .nav-tabs-icon {
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}
.services .nav-tabs .nav-link:hover, .services .nav-tabs .nav-link:focus, .services .nav-tabs .nav-link.active {
  background-color: #D3FF1A;
}
.services .nav-tabs .nav-link:hover .nav-tabs-icon, .services .nav-tabs .nav-link:focus .nav-tabs-icon, .services .nav-tabs .nav-link.active .nav-tabs-icon {
  -webkit-transform: rotate(-10deg);
          transform: rotate(-10deg);
}
.services .tab-content {
  border: 1px solid #1F1E1E;
  border-radius: 15px;
  height: 100%;
  padding: 106px 136px 145px 136px;
}
@media screen and (max-width: 1200px) {
  .services .tab-content {
    padding: 60px 80px;
  }
}
@media screen and (max-width: 576px) {
  .services .tab-content {
    padding: 48px 15px;
  }
}
.services__img-container {
  position: relative;
  max-width: 800px;
  margin: 0 auto;
}
@media screen and (max-width: 576px) {
  .services__img-container {
    max-width: 284px;
  }
}
.services__img-container .services-img-2 {
  position: absolute;
  left: -128px;
  bottom: -192px;
}
.services__img-container .services-img-2 p {
  position: relative;
  bottom: 40px;
  right: 20px;
  text-align: right;
  text-transform: capitalize;
}
@media screen and (max-width: 1200px) {
  .services__img-container .services-img-2 {
    left: -70px;
  }
}
@media screen and (max-width: 576px) {
  .services__img-container .services-img-2 {
    max-width: 115px;
    left: -30px;
    bottom: -140px;
  }
}
.services__img-container .services-img-3 {
  position: absolute;
  right: -128px;
  top: -192px;
}
.services__img-container .services-img-3 p {
  position: relative;
  bottom: 40px;
  right: 20px;
  text-align: right;
  text-transform: capitalize;
}
@media screen and (max-width: 1200px) {
  .services__img-container .services-img-3 {
    right: -70px;
  }
}
@media screen and (max-width: 576px) {
  .services__img-container .services-img-3 {
    max-width: 115px;
    right: -30px;
    top: -140px;
  }
}
.services .services__cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(256px, 1fr));
  gap: 16px;
}
@media screen and (max-width: 1800px) {
  .services .services__cards {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}
@media screen and (max-width: 1400px) {
  .services .services__cards {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
}
@media screen and (max-width: 992px) {
  .services .services__cards {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 9px;
  }
}
.services .service__card {
  min-height: 700px;
  border: 1px solid #1F1E1E;
  background: #D3FF1A;
  border-radius: 15px;
  padding: 0 20px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (max-width: 1200px) {
  .services .service__card {
    min-height: 400px;
  }
}
@media screen and (max-width: 576px) {
  .services .service__card {
    min-height: 230px;
    padding: 0 10px;
  }
}
@media screen and (max-width: 992px) {
  .services .nav-tabs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

.tab-content > .active {
  display: none !important;
}

.tab-content > .show {
  display: block !important;
}

.fade {
  -webkit-transition: opacity 0.5s ease-in-out 0.2s;
  transition: opacity 0.5s ease-in-out 0.2s;
}

.tab-content .tab-pane:not(.active) p.text__primary {
  -webkit-transform: translateX(300px);
          transform: translateX(300px);
  opacity: 0;
  -webkit-transition: opacity 1.5s ease-in-out, -webkit-transform 1.5s ease-in-out;
  transition: opacity 1.5s ease-in-out, -webkit-transform 1.5s ease-in-out;
  transition: transform 1.5s ease-in-out, opacity 1.5s ease-in-out;
  transition: transform 1.5s ease-in-out, opacity 1.5s ease-in-out, -webkit-transform 1.5s ease-in-out;
}

.tab-content .tab-pane:not(.active) p:not(.text__primary) {
  opacity: 0;
  -webkit-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}/*# sourceMappingURL=services.css.map */