@import url("https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;0,500;1,500&family=Hanken+Grotesk:ital,wght@0,400;0,500;0,600;1,500&display=swap");
@font-face {
  font-family: "Apercu-Medium-Italic";
  src: url(./font/Apercu-Medium-Italic.woff2) format("woff2");
}
@font-face {
  font-family: "Apercu-Medium";
  src: url(./font/Apercu-Medium.woff2) format("woff2");
}
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Cabin", sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 35px;
  color: #000;
}
@media screen and (max-width: 1200px) {
  body {
    font-size: 18px;
    line-height: 30px;
  }
}
@media screen and (max-width: 992px) {
  body {
    font-size: 16px;
    line-height: 26px;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Hanken Grotesk", sans-serif;
  font-weight: 500;
}

h1 {
  font-size: 150px;
  line-height: 195px;
  font-weight: 600;
  text-transform: uppercase;
}
@media screen and (max-width: 1800px) {
  h1 {
    font-size: 90px;
    line-height: 100px;
  }
}
@media screen and (max-width: 992px) {
  h1 {
    font-size: 60px;
    line-height: 80px;
  }
}
@media screen and (max-width: 576px) {
  h1 {
    font-size: 35px;
    line-height: 46px;
  }
}

h2 {
  font-size: 45px;
  line-height: 60px;
  color: #1F1E1E;
}
@media screen and (max-width: 1200px) {
  h2 {
    font-size: 35px;
    line-height: 46px;
  }
}
@media screen and (max-width: 576px) {
  h2 {
    font-size: 20px;
    line-height: 30px;
  }
}

h3 {
  font-size: 35px;
  line-height: 55px;
  font-family: "Cabin", sans-serif;
  color: #200ADF;
  font-style: italic;
}
@media screen and (max-width: 1200px) {
  h3 {
    font-size: 30px;
    line-height: 40px;
  }
}
@media screen and (max-width: 768px) {
  h3 {
    font-size: 22px;
    line-height: 32px;
  }
}

h4 {
  font-size: 20px;
  line-height: 60px;
  font-family: "Cabin", sans-serif;
  font-style: italic;
  color: #D3FF1A;
}
@media screen and (max-width: 768px) {
  h4 {
    font-size: 20px;
    line-height: 40px;
  }
}

.section-title {
  font-size: 90px;
  line-height: 109px;
  font-weight: 500;
  font-style: italic;
  font-family: "Apercu-Medium";
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #1F1E1E;
  margin-bottom: 20px;
}
@media screen and (max-width: 992px) {
  .section-title {
    font-size: 50px;
    line-height: 70px;
  }
}
@media screen and (max-width: 576px) {
  .section-title {
    font-size: 50px;
    line-height: 55px;
    margin-bottom: 0;
  }
}

.btn {
  font-size: 20px;
  line-height: 25px;
  font-family: "Hanken Grotesk", sans-serif;
  color: #FBFFF9;
  padding: 11px 30px;
  border-image-slice: 20;
  border-image-width: 20;
  border-image-outset: 1;
  border-image-repeat: stretch;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 8px;
  font-weight: 500;
}
@media screen and (max-width: 576px) {
  .btn {
    font-size: 15px;
    line-height: 20px;
  }
}

.btn__accent {
  border-image-source: url(../images/btn/btn-accent-bg.svg);
}
.btn__accent svg {
  opacity: 0.5;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.btn__accent:hover, .btn__accent:focus {
  color: #FBFFF9 !important;
}
.btn__accent:hover svg, .btn__accent:focus svg {
  opacity: 1;
  -webkit-transform: translateX(5px);
          transform: translateX(5px);
}
.btn__accent.border-img-top {
  border-image-source: url(../images/btn/btn-accent-top-bg.svg);
  min-height: 54px;
  min-width: 281px;
}
@media screen and (max-width: 576px) {
  .btn__accent.border-img-top {
    min-height: 46px;
    min-width: 164px;
    padding: 11px 20px;
  }
}

.btn__primary {
  border-image-source: url(../images/btn/btn-primary-bg.svg);
  color: #1F1E1E;
  min-height: 54px;
  min-width: 239px;
  padding: 11px 36px;
}
@media screen and (max-width: 576px) {
  .btn__primary {
    min-height: 46px;
    min-width: 164px;
    padding: 11px 20px;
  }
}
.btn__primary svg {
  opacity: 0.5;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.btn__primary:hover, .btn__primary:focus {
  color: #1F1E1E !important;
}
.btn__primary:hover svg, .btn__primary:focus svg {
  opacity: 1;
  -webkit-transform: translateX(5px);
          transform: translateX(5px);
}

a {
  text-decoration: none;
  color: inherit;
}

.min-h-md {
  min-height: 626px;
}

.min-h-sm {
  min-height: 300px;
}

.min-h-inherit {
  min-height: inherit;
}

.h-vh-100 {
  min-height: 100vh;
}

.line-h-sm {
  line-height: 27px;
}

.opacity-90 {
  opacity: 0.9;
}

.-m-top {
  margin-top: -147px;
}
@media screen and (max-width: 992px) {
  .-m-top {
    margin-top: -106px;
  }
}
@media screen and (max-width: 768px) {
  .-m-top {
    margin-top: -66px;
  }
}

.mt-130 {
  margin-top: 130px;
}

.object-cover {
  -o-object-fit: cover;
     object-fit: cover;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-30 {
  margin-bottom: 30px;
}
@media screen and (max-width: 992px) {
  .mb-30 {
    margin-bottom: 15px;
  }
}

.mb-50 {
  margin-bottom: 50px;
}

.mb-40 {
  margin-bottom: 40px;
}

.mt-50 {
  margin-top: 50px;
}

.mb-70 {
  margin-bottom: 70px;
}
@media screen and (max-width: 992px) {
  .mb-70 {
    margin-bottom: 30px;
  }
}

.mb-200 {
  margin-bottom: 200px;
}
@media screen and (max-width: 992px) {
  .mb-200 {
    margin-bottom: 100px;
  }
}

.text-accent {
  color: #D3FF1A !important;
}

.text-primary {
  color: #200ADF !important;
}

.bg__accent {
  background: #D3FF1A;
}

.bg__light {
  background: #FBFFF9;
}

.bg__dark {
  background: #1F1E1E;
}

.text__light {
  color: #FBFFF9;
}

.text__primary {
  color: #200ADF;
}

.arrow-primary {
  position: relative;
  left: -20px;
}
@media screen and (max-width: 992px) {
  .arrow-primary {
    left: 15px;
  }
}
.arrow-primary::before {
  content: "";
  position: relative;
  left: -10px;
  width: 20px;
  height: 10px;
  background: url(../images/arrow-primary.svg) no-repeat center;
  background-size: contain;
  display: inline-block;
}
@media screen and (max-width: 992px) {
  .arrow-primary::before {
    left: -10px;
  }
}

@media screen and (max-width: 1800px) {
  br {
    display: none;
  }
}

.line-h-sm {
  line-height: 26px;
}

.top-130 {
  position: relative;
  top: 130px;
}
@media screen and (max-width: 992px) {
  .top-130 {
    position: static;
    top: 0;
  }
}

.text__xsm {
  font-size: 16px;
  line-height: 35px;
  font-weight: 500;
  font-style: italic;
  font-family: "Cabin", sans-serif;
  text-transform: uppercase;
}
@media screen and (max-width: 576px) {
  .text__xsm {
    font-size: 13px;
    line-height: 20px;
  }
}

.block-padding {
  padding-block: 160px 120px;
}
@media screen and (max-width: 992px) {
  .block-padding {
    padding-block: 120px;
  }
}

.block-padding-lg {
  padding-block: 160px 160px;
}

.block-padding-xl {
  padding-block: 200px;
}
@media screen and (max-width: 992px) {
  .block-padding-xl {
    padding-block: 100px;
  }
}

.block-margin {
  margin-block: 160px 120px;
}

.block-margin-xl {
  margin-block: 200px;
}
@media screen and (max-width: 992px) {
  .block-margin-xl {
    margin-block: 100px;
  }
}

.font-Apercu-italic {
  font-family: "Apercu-Medium-Italic";
}

.font-Apercu {
  font-family: "Apercu-Medium";
}

.min-w-sm {
  min-width: 150px;
}

.min-h-md {
  min-height: 626px !important;
}

.left-270 {
  position: relative;
  left: -270px;
}
@media screen and (max-width: 1800px) {
  .left-270 {
    left: -170px;
  }
}

.list {
  padding-left: 0;
}
.list__item {
  margin-bottom: 32px;
  list-style: none;
  position: relative;
  gap: 10px;
  display: grid;
  grid-template-columns: 20px 1fr;
}
.list__item::before {
  content: "";
  background: url(../images/list-icon.svg) no-repeat center;
  background-size: contain;
  width: 20px;
  height: 10px;
  display: inline-block;
  position: relative;
  top: 10px;
}

.about-us {
  border-radius: 32px;
  margin-top: -32px;
}
@media screen and (max-width: 576px) {
  .about-us {
    border-radius: 20px;
  }
}
.about-us__content {
  max-width: 1072px;
  margin: 0 auto;
}
@media screen and (max-width: 576px) {
  .about-us__content {
    padding-inline: 15px;
  }
}

.services sup {
  top: -1.2em;
  left: 0.2em;
}
.services .nav-tabs {
  gap: 16px;
  height: 100%;
}
@media screen and (max-width: 1800px) {
  .services .nav-tabs {
    gap: 8px;
  }
}
@media screen and (max-width: 1800px) {
  .services .nav-tabs .nav-item {
    -ms-flex-preferred-size: 48%;
        flex-basis: 48%;
  }
}
@media screen and (max-width: 1200px) {
  .services .nav-tabs .nav-item {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}
@media screen and (max-width: 992px) {
  .services .nav-tabs .nav-item {
    -ms-flex-preferred-size: 48%;
        flex-basis: 48%;
  }
}
.services .nav-tabs .nav-link {
  color: #1F1E1E;
  font-size: 20px;
  font-weight: 500;
  font-style: italic;
  font-family: "Hanken Grotesk", sans-serif;
  border: 1px solid #1F1E1E;
  border-radius: 15px;
  min-width: 256px;
  min-height: 256px;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  background-color: #FBFFF9;
}
@media screen and (max-width: 1800px) {
  .services .nav-tabs .nav-link {
    min-width: auto;
    min-height: auto;
  }
}
@media screen and (max-width: 992px) {
  .services .nav-tabs .nav-link {
    min-width: 172px;
    min-height: 172px;
    font-size: 14px;
    padding: 10px 5px;
  }
}
.services .nav-tabs .nav-link .nav-tabs-icon {
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}
.services .nav-tabs .nav-link:hover, .services .nav-tabs .nav-link:focus, .services .nav-tabs .nav-link.active {
  background-color: #D3FF1A;
}
.services .nav-tabs .nav-link:hover .nav-tabs-icon, .services .nav-tabs .nav-link:focus .nav-tabs-icon, .services .nav-tabs .nav-link.active .nav-tabs-icon {
  -webkit-transform: rotate(-10deg);
          transform: rotate(-10deg);
}
.services .tab-content {
  border: 1px solid #1F1E1E;
  border-radius: 15px;
  height: 100%;
  padding: 106px 136px 145px 136px;
}
@media screen and (max-width: 1200px) {
  .services .tab-content {
    padding: 60px 80px;
  }
}
@media screen and (max-width: 576px) {
  .services .tab-content {
    padding: 48px 15px;
  }
}
.services__img-container {
  position: relative;
  max-width: 800px;
  margin: 0 auto;
}
@media screen and (max-width: 576px) {
  .services__img-container {
    max-width: 284px;
  }
}
.services__img-container .services-img-2 {
  position: absolute;
  left: -128px;
  bottom: -192px;
}
@media screen and (max-width: 1200px) {
  .services__img-container .services-img-2 {
    left: -70px;
  }
}
@media screen and (max-width: 576px) {
  .services__img-container .services-img-2 {
    max-width: 115px;
    left: -30px;
    bottom: -140px;
  }
}
.services__img-container .services-img-3 {
  position: absolute;
  right: -128px;
  top: -192px;
}
@media screen and (max-width: 1200px) {
  .services__img-container .services-img-3 {
    right: -70px;
  }
}
@media screen and (max-width: 576px) {
  .services__img-container .services-img-3 {
    max-width: 115px;
    right: -30px;
    top: -140px;
  }
}
.services .services__cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(256px, 1fr));
  gap: 16px;
}
@media screen and (max-width: 1800px) {
  .services .services__cards {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}
@media screen and (max-width: 1400px) {
  .services .services__cards {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
}
@media screen and (max-width: 992px) {
  .services .services__cards {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 9px;
  }
}
.services .service__card {
  min-height: 700px;
  border: 1px solid #1F1E1E;
  background: #D3FF1A;
  border-radius: 15px;
  padding: 0 20px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (max-width: 1200px) {
  .services .service__card {
    min-height: 400px;
  }
}
@media screen and (max-width: 576px) {
  .services .service__card {
    min-height: 230px;
    padding: 0 10px;
  }
}

.cases-slider-wrapper {
  border: 1px solid #1F1E1E;
  background: #D3FF1A;
  border-radius: 20px;
  padding: 112px 136px;
}
@media screen and (max-width: 1200px) {
  .cases-slider-wrapper {
    padding: 70px;
  }
}
@media screen and (max-width: 768px) {
  .cases-slider-wrapper {
    padding: 52px 15px;
  }
}
@media screen and (max-width: 576px) {
  .cases-slider-wrapper {
    border-radius: 8px;
  }
}
.cases .case__slider-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 36px;
}
@media screen and (max-width: 1200px) {
  .cases .case__slider-content {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 20px;
  }
}
@media screen and (max-width: 768px) {
  .cases .case__slider-content {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    gap: 6px;
  }
}
.cases .case__slider-content > * {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 150px;
          flex: 0 0 150px;
}
@media screen and (max-width: 768px) {
  .cases .case__slider-content > * {
    max-width: 100px;
  }
}

.icon {
  width: 18px;
  height: 8px;
}

@media screen and (min-width: 1700px) {
  .container {
    max-width: 1616px;
  }
}
@media screen and (max-width: 576px) {
  .container {
    padding-inline: 20px;
  }
}/*# sourceMappingURL=style.css.map */